body {
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
}
.black {
    background-color: #333;
    color: white;
}
.wrap {
    padding: 10px;
}
header div {
    background-color: #bfbfbf;
    color: #605e5e;
    display: flex;
}
header div p {
    padding: 10px;
}
.conten {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.conten2 {
    display: flex;
    margin-top: 5%;
    margin-bottom: 2%;
    background-color: rgb(179, 179, 179);
}
/*per aplicar la segona opció vàlida, caldria comentar el següent bloc de codi i descomentar el que es troba comentat*/
.conten2 img {
    width: 200px;
    border: 2px dotted #000000;
    border-radius: 0px;
    margin: 10px;
}
/*Fi del bloc de codi a comentar*/

.sub1-conten2 {
    flex-wrap: nowrap;
}
/* descomentar per a l'altra opció
.sub1-conten2 img {
    width: 25%;
    border: 2px dotted #000000;
    border-radius: 0px;
    margin: 10px;
}*/
.sub2-conten2 {
    flex-wrap: wrap;
}
/* descomentar per a l'altra opció
.sub2-conten2 img {
    width: 200px;
    border: 2px dotted #000000;
    border-radius: 0px;
    margin: 10px;
}
*/
nav,main,aside {
    background-color: #f6f2f7;
    padding: 10px;
    border: 2px none transparent;
    border-radius: 12px;
    color: #605e5e;
}
nav, aside {
    width: 13vw;
}
nav {
    height: 50vh;
    margin-right: 10px;
}
aside {
    margin-left: 10px;
}
main {
    width: 70vw;
    display: flex;
    flex-direction: column;
}